.btn-container {
  display: flex;
  justify-content: space-around;
}

.user-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.user-action,
.user-select {
  padding: 8px;
  font-size: 1rem;
  border: lightgray 0.5px solid;
  margin: 0; /* Ensure no default margin */
  width: 100%; /* Make the inputs fill the available space */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.user-select {
  background-color: white;
}

.selected-row {
  background-color: #f7f7f7;
}

.delete {
  color: red;
}

.save {
  color: green;
}

@media only screen and (max-width: 768px) {
  .user-action,
  .user-select {
    padding: 10px;
    font-size: 1rem;
  }
}
