.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-input {
  height: 2.2rem;
  width: 100%;
  border: lightgray 0.5px solid;
  outline: none;
  padding-left: 1rem;
}
